<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden" style="margin-right: calc(-1 * (100vw - 100%));">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - eSnacks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/eSnacks.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body style="padding-top: 68px;">
    @await RenderSectionAsync("Styles", required: false)
    @section Styles{
        <style>
            .nav-item-hover-li:hover{
                               background-color: #f5f5f5;
                               cursor: pointer;
                               border-radius: 25px;
                             }
        </style>
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top bg-body-tertiary border-bottom box-shadow ms-auto p-1" style="overflow: hidden">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-hexagon-fill me-2 text-danger" style="font-size:26px;"></i>
                    <span class="display-6">eSnacks</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ms-auto fw-normal d-flex justify-content-center align-items-center" style="font-size: 20px; ">
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2 active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="City" asp-action="Index">Cities</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="Restaurant" asp-action="Index">Restaurants</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="Category" asp-action="Index">Menu categories</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="MenuItem" asp-action="Index">Menu Items</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="InOrder" asp-action="Index">InOrder</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="PlacedOrder" asp-action="Index">PlacedOrder</a>
                        </li>
                        <li class="nav-item nav-item-hover-li">
                            <a class="nav-link text-dark mx-2" asp-area="" asp-controller="OrderStatus" asp-action="Index">OrderStatus</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    
                    <partial name="_LoginPartial"/>
                    @* <partial name="_Identity.cshtml" /> *@
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top bg-dark text-center text-lg-start fixed-bottom">
        <div class="container p-4 text-center text-white-50">
            &copy; 2023 - eSnacks - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white-50">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>